@{
    ViewData["Title"] = "Home Page";
}


<section class="ftco-section mt-100" style="margin-bottom:125px; margin-top:100px" id="login">
    <div class="container " style="margin-bottom:125px; margin-top:100px">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">


                <div class=" p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Upload Abstract</h3>
                        </div>

                    </div>
                    <form class="signin-form" id="upload_abstract">
                        <input type="text" hidden id="ammount" value="1" class="form-control custome-input" name="FirstName" required>

                        <div class="row">
                            <!-- First Name -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="fname">First Name:</label>
                                    <input type="text" class="form-control custome-input" placeholder="First Name" id="FirstName" name="FirstName" required>
                                </div>
                            </div>

                            <!-- Last Name -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="lname">Last Name:</label>
                                    <input type="text" class="form-control custome-input" placeholder="Last Name" id="lname" name="LastName" required>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="email_l">Email:</label>
                                    <input type="email" class="form-control custome-input" placeholder="Email" id="email_l" name="Email" required>
                                </div>
                            </div>

                            <!-- Phone Number -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="Pnumber">Phone Number:</label>
                                    <input type="text" class="form-control custome-input" placeholder="Phone Number" name="PhoneNumber" id="Pnumber" value="+254" required>
                                </div>
                            </div>

                            <!-- Institution -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="institution">Institution *:</label>
                                    <input type="text" class="form-control custome-input" placeholder="Enter Institution name *" id="institution" name="Institution" required>
                                </div>
                            </div>

                            <!-- Presenting Author -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="author">Presenting Author *:</label>
                                    <input type="text" class="form-control custome-input"  name="PresentingAuthor" placeholder="Enter Presenting Author *" id="author" required>
                                </div>
                            </div>

                            <!-- Co-Authors -->
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="label" for="co_authors">Co-Authors:</label>
                                    <textarea class="form-control custome-input" placeholder="List Co-Authors here" name="CoAuthors" id="co_authors" required></textarea>
                                </div>
                            </div>

                            <!-- Title of Abstract -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="title">Title of Abstract *:</label>
                                    <input type="text" class="form-control custome-input" name="Title" placeholder="Enter Abstract Title" id="title" required>
                                </div>
                            </div>

                            <!-- Presentation Type -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="presentation_type">Presentation Type *:</label>
                                    <select class="form-control custome-input" id="presentation_type" name="PresentationType" required>
                                        <option value="">Select an option</option>
                                        <option value="Oral">Oral Presentation</option>
                                        <option value="Poster">Poster Presentation</option>
                                        <option value="Either">Either</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Conference Type -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="conference_type">Conference Type *:</label>
                                    <select class="form-control custome-input" id="conference_type" name="ConferenceType" required>
                                        <option value="">Select an option</option>
                                        <option value="Pre-conference">Pre-conference</option>
                                        <option value="Main conference">Main conference</option>
                                        <option value="Either">Either</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Introduction -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="introduction">Introduction *:</label>
                                    <textarea class="form-control custome-input" placeholder="Brief introduction (max 50 words)" id="introduction" name="Introduction" maxlength="250" required></textarea>
                                </div>
                            </div>

                            <!-- Methods -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="methods">Methods *:</label>
                                    <textarea class="form-control custome-input" placeholder="Methodology (max 100 words)" id="methods" name="Methods" maxlength="500" required></textarea>
                                </div>
                            </div>

                            <!-- Results -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="results">Results *:</label>
                                    <textarea class="form-control custome-input" placeholder="Results (max 100 words)" id="results" name="Results" maxlength="500" required></textarea>
                                </div>
                            </div>

                            <!-- Conclusion -->
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="conclusion">Conclusion *:</label>
                                    <textarea class="form-control custome-input" placeholder="Conclusion (max 50 words)" id="conclusion" name="Conclusion" maxlength="250" required></textarea>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-lg-6">
                                <div class="form-group" style="text-align:center;justify-content:center;align-items:center">
                                    <img src="/assets/images/gallery/loading.gif" id="loading" style="height:50px;width:50px" />
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3" id="uploadDoc">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
 </div>
</section>

<button onclick="loadIframe()">Load Payment</button>


<iframe src="https://demo.pesapal.com/API/PostPesapalDirectOrderV4?oauth_callback=https%3A%2F%2Flocalhost%3A7209%2Fhome%2Fuploadabstract&oauth_consumer_key=qkio1BGGYAXTu2JOfm7XSXNruoZsrqEW&oauth_nonce=4c5aae3a-a2f1-4441-b279-6e4b4dc494f2&oauth_signature=ETXBBhbCYfviqCUYSL9TpTqBM18%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1741274861&oauth_version=1.0&pesapal_request_data=%EF%BB%BF%26lt%3B%3Fxml%20version%3D%26quot%3B1.0%26quot%3B%20encoding%3D%26quot%3Butf-8%26quot%3B%3F%26gt%3B%26lt%3BPesapalDirectOrderInfo%20xmlns%3Axsi%3D%26quot%3Bhttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%26quot%3B%20xmlns%3Axsd%3D%26quot%3Bhttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%26quot%3B%20Amount%3D%26quot%3B30%26quot%3B%20Description%3D%26quot%3BPAYMENT%20OF%20THE%20CONFERENCE%20REGISTRATION%20FEE%26quot%3B%20Type%3D%26quot%3BMERCHANT%26quot%3B%20Reference%3D%26quot%3BJGSJHSJVJH%26quot%3B%20FirstName%3D%26quot%3BBrian%26quot%3B%20LastName%3D%26quot%3BKimutai%26quot%3B%20Email%3D%26quot%3Bbkimutai2021%40gmail.com%26quot%3B%20PhoneNumber%3D%26quot%3B0712035642%26quot%3B%20xmlns%3D%26quot%3Bhttp%3A%2F%2Fwww.pesapal.com%26quot%3B%26gt%3B%26lt%3BLineItems%26gt%3B%26lt%3BLineItem%20UniqueId%3D%26quot%3B%26quot%3B%20Particulars%3D%26quot%3B%26quot%3B%20Quantity%3D%26quot%3B5%26quot%3B%20UnitCost%3D%26quot%3B6%26quot%3B%20SubTotal%3D%26quot%3B30%26quot%3B%20%2F%26gt%3B%26lt%3B%2FLineItems%26gt%3B%26lt%3B%2FPesapalDirectOrderInfo%26gt%3B" width="100%" height="620px" frameborder="0" scrolling="auto"></iframe>




