@{
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}

<section class="ftco-section mt-100"  style="margin-bottom:125px; margin-top:200px"  id="login">
    <div class="container " style="margin-bottom:125px; margin-top:200px">

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                  
                  
                        <div class=" p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Upload Abstract</h3>
                                </div>
                               
                            </div>
                    <form  class="signin-form" id="upload_abstract">
                        <div class="row">
                            <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label class="label" for="name">First Name:</label>
                            <input type="text" class="form-control custome-input" placeholder="First Name" id="fname" name="fname" required>
                                    <input type="text" class="form-control custome-input" hidden value="Not paid" placeholder="First Name" id="fname" name="Payment_Status" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group mb-3">
                            <label class="label" for="name">Last Name:</label>
                            <input type="text" class="form-control custome-input" placeholder="Last Name" id="lname" name="lname" required>
                        </div>  
                        </div>
                            <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label class="label" for="name">Affiliated Institution:</label>
                            <input type="text" class="form-control custome-input" placeholder="Affiliated Institution" id="institution" name="institution" required>
                                </div>
                            </div>   <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Email:</label>
                                <input type="email" class="form-control custome-input" placeholder="Email" id="email_l" name="email" required>
                                </div>
                                </div>
                            <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label class="label" for="password">Phone Number:</label>
                                <input type="text" min="8" value="+254" class="form-control custome-input"  placeholder="Phone Number" id="Pnumber" required>
                            </div>
                            </div>
                            <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label class="label" for="password">Please type your abstract (Maximum of 250 words):</label>
                            <textarea class="content" id="abstract" onChange="maxlength(this, 250)" name="example" maxlength="800  custome-input"></textarea>
                            </div>
                            </div> <div class="col-lg-12">
                               
                                    <table class="table table-bordered table-striped text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Category</th>
                                                <th>Super Early Bird</th>
                                                <th>Early Bird</th>
                                                <th>On Site</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Residents</td>
                                                <td>21,000</td>
                                                <td>23,000</td>
                                                <td>26,250</td>
                                            </tr>
                                            <tr>
                                                <td>Consultants</td>
                                                <td>27,000</td>
                                                <td>30,375</td>
                                                <td>33,750</td>
                                            </tr>
                                            <tr>
                                                <td>Nurses, Allied Professionals, Medical Officers</td>
                                                <td>18,000</td>
                                                <td>20,250</td>
                                                <td>22,500</td>
                                            </tr>
                                            <tr>
                                                <td>Medical Students</td>
                                                <td>10,000</td>
                                                <td>10,000</td>
                                                <td>15,000</td>
                                            </tr>
                                            <tr>
                                                <td>East African Delegates</td>
                                                <td>36,000</td>
                                                <td>40,500</td>
                                                <td>45,000</td>
                                            </tr>
                                            <tr>
                                                <td>International Delegates</td>
                                                <td>370 USD</td>
                                                <td>415 USD</td>
                                                <td>460 USD</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h3 class="text-center text-danger">Deadlines:</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item"><strong>Super Early Bird:</strong> 30th April 2025</li>
                                        <li class="list-group-item"><strong>Early Bird:</strong> 31st July 2025</li>
                                        <li class="list-group-item"><strong>On-Site:</strong> 1st August 2025</li>
                                    </ul>

                                    <p class="text-center font-weight-bold text-success mt-3">
                                        ✅ Fully paid-up KISPRAS members get a 10% discount on all the above rates.
                                    </p>

                              

                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" style="text-align:center;justify-content:center;align-items:center">
                                    <img src="/assets/images/gallery/loading.gif"  id="loading" style="height:50px;width:50px"/>
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3" width="200" id="uploadDoc">Submit</button>
                            </div>
                            </div>
                            </div>


                            </form>
                        </div>
                   
                </div>
            </div>
        </div>
    </section>
 

<!-- Mirrored from preview.colorlib.com/theme/bootstrap/login-form-14/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Dec 2024 18:05:08 GMT -->

